[submodule "saleor"]
	path = saleor
	url = https://github.com/anthony-munozm/saleor.git
[submodule "saleor-storefront"]
	path = saleor-storefront
	url = https://github.com/anthony-munozm/saleor-storefront.git
[submodule "saleor-dashboard"]
	path = saleor-dashboard
	url = https://github.com/anthony-munozm/saleor-dashboard.git
